* {
    box-sizing: border-box;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.myPictures {
    display: none;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -25px;
    padding: 18px;
    color: red;
    font-weight: bold;
    font-size: 48px;
    transition: 0.6s ease;
    border-radius: 0 4px 4px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.previous:hover, .next:hover {
    background-color: rgb(33, 31, 31);
}

.pictureText {
    color: rgb(163, 163, 49);
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.textNumber {
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 4px;
    background-color: rgb(240, 134, 5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: rgb(66, 41, 179);
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: 0.3}
    to {opacity: 1;}
}
